<div class="container"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center"
fxLayoutGap="10px"
fxLayoutGap.xs="0">
<div class="item item-1" fxFlex="20%"></div>
<div class="item item-2" fxFlex="20%" fxFlexOrder="3"></div>
<div class="item item-3" fxFlex><img class="headerImg" src="./assets/images/Logo_de_Pokemon.png"> <img class="headerImgP" src="./assets/images/plus.png"> <img class="headerImgA" src="./assets/images/Angular_full_color_logo.png"></div>
</div>
<div class="textContainer"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center"
fxLayoutGap="10px"
fxLayoutGap.xs="0">
<div class="item item-1" fxFlex="95%">
    <p>Diseño e implementación de una aplicación utilizando el framework Angular, en el cúal se ha elegido la temática de Pokemón.
        Así pues, se ha desarrollado este prototipo de plataforma teniendo en cuenta una serie de puntos que serán mostrados
        a continuación. Entre los elementos que se deben incluir en la aplicación estarían los siguientes:
    </p>
        <ul>
            <li>
                La aplicación debe seguir las directrices de una aplicación SPA (Single page Application), dentro de la cual tenemos
                una página principal que va actualizando diferentes partes de la misma en función de las acciones de usuario.
            </li>
            <li>
                Se definirán diferentes componentes para gestionar cada uno de las diferentes unidades en que se divida la página.
            </li>
            <li>
                La parte visual de estos componentes puede estar desarrollada con Material Design o con Bootstrap.
            </li>
            <li>
                Los componentes harán uso de los servicios necesarios para llevar a cabo su funcionamiento.
            </li>
            <li>
                Se diseñarán diferentes servicios para cada una de las tareas que realice la aplicación.
            </li>
            <li>
                Los servicios y componentes utilizarán, en la medida de lo posible y siempre que tenga
                sentido, Observables para intercambiarse información entre ellos.
            </li>
            <li>
                Se definirán de forma independiente, cada una de las clases necesarias para definir los diferentes objetos o tipos que se
                 vayan a utilizar en la aplicación.
            </li>
            <li>
                Para navegar entre las diferentes páginas / componentes de la aplicación se utilizará el módulo Router,
                definiendo en un fichero aparte las rutas necesarias.
            </li>
            <li>
                Se implementará, al menos, un componente de diálogo que se abra desde otro componente.
            </li>
            <li>
                Los datos que necesite la aplicación para funcionar, deberán almacenarse en un servidor REST.
                La aplicación accederá a ellos a través de HttpClient.
            </li>
            <li>
                La aplicación tendrá que hacer uso de, al menos, uno de los mecanismos de almacenamiento en el lado del cliente que soporta HTML5,
                es decir, sessionStorage, localStorage o IndexedDB.
            </li>
           <li>
                Se incluirán formularios Reactivos, haciendo uso de la clase FormBuilder. Se realizará la validación y gestión de errores de estos formularios,
                 haciendo uso del Observable “valueChanges”.
           </li>
        </ul>
</div>
</div>