<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h2>Contacto</h2>
      <hr>
    </div>
  </div>

  <div fxFlex fxFlexOffset="20px" class="form-size">

    <h3>Pregúntanos lo que quieras</h3>
    <form novalidate [formGroup]="consultaForm" (ngSubmit)="onSubmit()">

      <p>

        <label for="nombre">Nombre:*</label>
        <br>
        <mat-form-field class="half-width">
          <input matInput formControlName="nombre" type="text" required>
        </mat-form-field>
        <span [hidden]="!(erroresForm.nombre)">
          {{ erroresForm.nombre }}</span>

        <br>
        <br>

        <label for="telefono">Apellidos*:</label>
        <br>
        <mat-form-field class="half-width">
          <input matInput formControlName="apellidos" type="text" required>
        </mat-form-field>
        <span [hidden]="!(erroresForm.apellidos)">
          {{erroresForm.apellidos}}</span>

      </p>

      <p>

        <label for="telefono">Número teléfono*:</label>
        <br>
        <mat-form-field class="half-width">
          <input matInput formControlName="telefono" type="tel" pattern="[0-9]*" required>
        </mat-form-field>
        <span [hidden]="!(erroresForm.telefono)">
          {{erroresForm.telefono}}</span>

        <br>
        <br>

        <label for="email">Correo Electrónico*:</label>
        <br>
        <mat-form-field class="half-width">
          <input matInput formControlName="email" type="email" email required>
        </mat-form-field>
        <span [hidden]="!(erroresForm.email)">
            {{erroresForm.email}}</span>

      </p>

      <table class="form-size">
        <td>
          <mat-slide-toggle formControlName="contactar">¿Quieres que contactemos contigo?</mat-slide-toggle>
        </td>
      </table>

      <p>
        <label for="email">¿Quieres dejar un comentario o sugerencia?: </label>
        <br>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="mensaje"></textarea>
        </mat-form-field>
      </p>
      <button mat-flat-button color="primary" type="submit">Submit</button>
    </form>

  </div>