.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

.example-card {
    display: block;
    margin: auto;
}
.example-card {
    overflow: hidden;
}

.pokeImg {
    width: 100%;
    height: auto;
}